@use '../abstract/' as *;

.about {
    &-banner {
        padding: 4rem 0;
        background-color: $clr--secondary;
        height: 80vh;
        &__wrapper {
            display: flex;
            flex-direction: column;
            text-align: center;
            img {
                height: 90vh;
            }
            h3 {
                margin-bottom: 2rem;
            }
        }
    }




    &-content {
        padding: 16rem 0;
        &__wrapper {
            @include gridCustom(2fr 1fr,5rem);

        }
        &__left {
            h1 {
                margin-bottom: 2rem;
            }
            p { 
                text-align: justify;
                margin-bottom: 6rem;
            }
        }
        &__right {
            h4 {
                margin-bottom: 2rem;
                color: $clr--primary;
            }
        }

        &__address {
            display: flex;
            flex-direction: column;
            small {
                font-size: 1.3rem;
            }
        }
    }
}